<link rel="stylesheet" href="/css/user_signup.css">
<form action="/user/create" method="POST">
    <input type="text" class="form-control" name="name" placeholder="Enter Name..." required>
    <input type="email" class="form-control" name="email" placeholder="Enter Email..." required>
    <input type="password" class="form-control" name="password" placeholder="Enter Password..." required>
    <input type="password" class="form-control" name="confirm_password" placeholder="Enter Confirm Password..." required>
    <input class="btn btn-success" type="submit" value="SignUp">
</form>