header {
  width: 100%;
  background-color: lightblue;
}
header h1 {
  display: inline;
  width: 70%;
}
header a {
  display: block;
}
header #name {
  text-align: right;
}
header #link {
  margin: 10px;
  text-align: right;
}
